In [27]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine 
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
import import_ipynb
from user_info import *

In [22]:
%run user_info.ipynb

In [23]:
user_info

In [43]:
# Postgres username, password, and database name 
POSTGRES_ADDRESS = 'njoy-testing-env.c2ag7j9q24ns.us-east-1.rds.amazonaws.com'
POSTGRES_PORT = '5416' 
POSTGRES_USERNAME = username 
POSTGRES_PASSWORD = password 
POSTGRES_DBNAME = 'dev'

In [44]:
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=POSTGRES_USERNAME, 
                        password=POSTGRES_PASSWORD, 
                        ipaddress=POSTGRES_ADDRESS, 
                        port=POSTGRES_PORT, dbname=POSTGRES_DBNAME))

In [45]:
# Creating the engine
engine = create_engine(postgres_str)

In [46]:
engine

Engine(postgresql://reader:***@njoy-testing-env.c2ag7j9q24ns.us-east-1.rds.amazonaws.com:5416/dev)

In [47]:
pd.read_sql_query('''select count(1) from public.orders;''', engine)

    count
0  201570

In [50]:
pd.read_sql_query('''SELECT * FROM public.orders;''', engine)

,order_id,customer_id,created_at,updated_at,closed_at,processed_at,status,number,total_price,total_less_tax,total_tax,payment_status
0,8.974965e+11,230824c2,2019-03-13 18:14:55,2019-03-13 22:01:40,2019-03-13 22:01:39,2019-03-13 18:14:55.000000,fulfilled,1029702,18.28,17.0,1.28,paid
1,8.975937e+11,7100545b,2019-03-13 19:33:50,2019-03-13 23:01:21,2019-03-13 23:01:21,2019-03-13 19:33:50.000000,fulfilled,1029768,9.00,9.0,0.00,paid
2,8.975785e+11,3de1dc29,2019-03-13 19:20:05,2019-03-13 23:01:33,2019-03-13 23:01:33,2019-03-13 19:20:05.000000,fulfilled,1029757,18.02,17.0,1.02,paid
3,8.976117e+11,cb5e4189,2019-03-13 19:50:09,2019-03-13 23:01:12,2019-03-13 23:01:11,2019-03-13 19:50:09.000000,fulfilled,1029780,9.63,9.0,0.63,paid
4,8.976406e+11,579c3141,2019-03-13 20:17:01,2019-03-14 00:01:23,2019-03-14 00:01:23,2019-03-13 20:17:01.000000,fulfilled,1029803,9.26,9.0,0.26,paid
5,8.976555e+11,0de56532,2019-03-13 20:30:26,2019-03-14 00:01:11,2019-03-14 00:01:11,2019-03-13 20:30:26.000000,fulfilled,1029817,9.74,9.0,0.74,paid
6,8.976295e+11,d33c41ec,2019-03-13 20:05:57,2019-03-14 00:01:28,2019-03-14 00:01:28,2019-03-13 20:05:57.000000,fulfilled,1029797,17.90,17.0,0.90,paid
7,8.977876e+11,440115b9,2019-03-13 22:41:05,2019-03-14 14:06:51,NaT,2019-03-13 22:41:05.000000,None,1029988,39.60,36.0,3.60,refunded
8,8.870819e+11,a83fe907,2019-03-05 13:37:08,2019-03-14 16:27:18,2019-03-05 17:08:24,2019-03-05 13:37:08.000000,fulfilled,990994,11.98,8.0,0.98,refunded
9,8.980735e+11,d07fbbe1,2019-03-14 04:57:44,2019-03-14 16:05:27,2019-03-14 16:05:27,2019-03-14 04:57:44.000000,fulfilled,1030287,9.54,9.0,0.54,paid
10,8.983274e+11,327fd02a,2019-03-14 11:19:41,2019-03-14 16:03:44,2019-03-14 16:03:44,2019-03-14 11:19:41.000000,fulfilled,1032875,9.54,9.0,0.54,paid
11,8.983361e+11,422c851c,2019-03-14 11:29:42,2019-03-14 16:03:29,2019-03-14 16:03:29,2019-03-14 11:29:42.000000,fulfilled,1032983,19.89,18.0,1.89,paid
12,8.980085e+11,34b7f9da,2019-03-14 03:13:39,2019-03-14 16:06:06,2019-03-14 16:06:06,2019-03-14 03:13:39.000000,fulfilled,1030222,18.02,17.0,1.02,paid
13,8.978135e+11,39da4cb9,2019-03-13 23:10:25,2019-03-14 16:02:35,2019-03-14 16:02:35,2019-03-13 23:10:25.000000,fulfilled,1030019,19.35,18.0,1.35,paid
14,8.981852e+11,491cf403,2019-03-14 08:38:45,2019-03-14 16:04:46,2019-03-14 16:04:46,2019-03-14 08:38:45.000000,fulfilled,1031107,18.00,18.0,0.00,paid
15,8.977245e+11,94f65454,2019-03-13 21:36:16,2019-03-14 16:01:24,2019-03-14 16:01:24,2019-03-13 21:36:16.000000,fulfilled,1029893,18.02,17.0,1.02,paid
16,8.980597e+11,c8d76a71,2019-03-14 04:31:18,2019-03-14 16:05:36,2019-03-14 16:05:36,2019-03-14 04:31:18.000000,fulfilled,1030275,9.65,9.0,0.65,paid
17,8.978988e+11,b4d9626b,2019-03-14 00:56:55,2019-03-14 16:07:17,2019-03-14 16:07:17,2019-03-14 00:56:55.000000,fulfilled,1030108,17.89,17.0,0.89,paid
18,8.977358e+11,7a8887e7,2019-03-13 21:47:02,2019-03-14 16:01:14,2019-03-14 16:01:14,2019-03-13 21:47:02.000000,fulfilled,1029922,9.89,9.0,0.89,paid
19,8.983412e+11,e64557a6,2019-03-14 11:35:48,2019-03-14 16:03:25,2019-03-14 16:03:25,2019-03-14 11:35:48.000000,fulfilled,1033051,9.63,9.0,0.63,paid
20,8.983038e+11,4f6b061d,2019-03-14 11:00:52,2019-03-14 16:03:54,2019-03-14 16:03:54,2019-03-14 11:00:52.000000,fulfilled,1032674,19.26,18.0,1.26,paid
21,8.980488e+11,c9b0a618,2019-03-14 04:12:44,2019-03-14 16:05:41,2019-03-14 16:05:40,2019-03-14 04:12:44.000000,fulfilled,1030269,9.50,9.0,0.50,paid
22,8.978219e+11,cb296108,2019-03-13 23:20:57,2019-03-14 16:02:33,2019-03-14 16:02:33,2019-03-13 23:20:57.000000,fulfilled,1030026,17.95,17.0,0.95,paid
23,8.983667e+11,c8b1dfee,2019-03-14 12:04:40,2019-03-14 16:03:14,2019-03-14 16:03:14,2019-03-14 12:04:40.000000,fulfilled,1033380,18.36,17.0,1.36,paid
24,8.978133e+11,a78e712a,2019-03-13 23:10:09,2019-03-14 16:02:35,2019-03-14 16:02:35,2019-03-13 23:10:09.000000,fulfilled,1030018,9.48,9.0,0.48,paid
25,8.983009e+11,2fdc2ff2,2019-03-14 10:57:15,2019-03-14 16:03:56,2019-03-14 16:03:56,2019-03-14 10:57:15.000000,fulfilled,1032637,17.94,17.0,0.94,paid
26,8.976990e+11,c0ae8e6f,2019-03-13 21:10:37,2019-03-14 16:01:42,2019-03-14 16:01:42,2019-03-13 21:10:37.000000,fulfilled,1029846,9.65,9.0,0.65,paid
27,8.979699e+11,00eba3f2,2019-03-14 02:24:50,2019-03-14 16:06:32,2019-03-14 16:06:32,2019-03-14 02:24:50.000000,fulfilled,1030174,9.65,9.0,0.65,paid
28,8.979577e+11,9cf7addc,2019-03-14 02:09:09,2019-03-14 16:06:39,2019-03-14 16:06:39,2019-03-14 02:09:09.000000,fulfilled,1030164,18.06,17.0,1.06,paid
29,8.982036e+11,21771c56,2019-03-14 09:02:49,2019-03-14 16:04:35,2019-03-14 16:04:35,2019-03-14 09:02:49.000000,fulfilled,1031363,19.08,18.0,1.08,paid
...,...,...,...,...,...,...,...,...,...,...,...,...
201540,8.970395e+11,9710d4a7,2019-03-13 12:20:18,2019-03-13 17:06:43,2019-03-13 17:06:43,2019-03-13 12:20:18.000000,fulfilled,1029067,9.00,9.0,0.00,paid
201541,8.970246e+11,bddd0761,2019-03-13 12:04:33,2019-03-13 17:09:14,2019-03-13 17:09:14,2019-03-13 12:04:33.000000,fulfilled,1028895,9.00,9.0,0.00,paid
201542,8.970463e+11,7efd5c7b,2019-03-13 12:27:23,2019-03-13 17:05:44,2019-03-13 17:05:43,2019-03-13 12:27:23.000000,fulfilled,1029143,9.00,9.0,0.00,paid
201543,8.970520e+11,c35c5e52,2019-03-13 12:33:42,2019-03-13 17:04:46,2019-03-13 17:04:46,2019-03-13 12:33:42.000000,fulfilled,1029211,9.91,9.0,0.91,paid
201544,8.970530e+11,0b9f1d70,2019-03-13 12:34:45,2019-03-13 19:01:14,2019-03-13 19:01:14,2019-03-13 12:34:45.000000,fulfilled,1029223,31.03,29.0,2.03,paid
201545,8.965709e+11,e4af406d,2019-03-13 00:43:18,2019-03-13 19:01:33,2019-03-13 19:01:33,2019-03-13 00:43:18.000000,fulfilled,1025730,41.93,39.0,2.93,paid
201546,8.971335e+11,c1b8eb2d,2019-03-13 14:23:53,2019-03-13 19:04:16,2019-03-13 19:04:16,2019-03-13 14:23:53.000000,fulfilled,1029447,9.54,9.0,0.54,paid
201547,8.972142e+11,828beab0,2019-03-13 15:51:34,2019-03-13 19:04:46,2019-03-13 19:04:46,2019-03-13 15:51:34.000000,fulfilled,1029553,8.23,8.0,0.23,paid
201548,8.970731e+11,8e507462,2019-03-13 13:02:46,2019-03-13 19:02:16,2019-03-13 19:02:16,2019-03-13 13:02:46.000000,fulfilled,1029368,9.56,9.0,0.56,paid
201549,8.971699e+11,166964e4,2019-03-13 15:05:08,2019-03-13 19:05:19,2019-03-13 19:05:19,2019-03-13 15:05:08.000000,fulfilled,1029508,18.30,17.0,1.30,paid
201550,8.971628e+11,c0fe4f15,2019-03-13 14:57:43,2019-03-13 19:02:24,2019-03-13 19:02:24,2019-03-13 14:57:43.000000,fulfilled,1029492,18.34,17.0,1.34,paid
201551,8.971733e+11,c3c47f26,2019-03-13 15:08:55,2019-03-13 19:05:16,2019-03-13 19:05:16,2019-03-13 15:08:55.000000,fulfilled,1029513,11.66,8.0,0.66,paid
201552,8.971238e+11,2d093f0c,2019-03-13 14:11:48,2019-03-13 19:04:24,2019-03-13 19:04:24,2019-03-13 14:11:48.000000,fulfilled,1029433,9.59,9.0,0.59,paid
201553,8.972167e+11,98ce75b4,2019-03-13 15:54:14,2019-03-13 19:04:44,2019-03-13 19:04:43,2019-03-13 15:54:14.000000,fulfilled,1029557,18.40,17.0,1.40,paid
201554,8.971222e+11,c56718cb,2019-03-13 14:10:05,2019-03-13 19:04:25,2019-03-13 19:04:25,2019-03-13 14:10:05.000000,fulfilled,1029432,9.78,9.0,0.78,paid
201555,8.971860e+11,9d19698c,2019-03-13 15:23:15,2019-03-13 19:05:05,2019-03-13 19:05:05,2019-03-13 15:23:15.000000,fulfilled,1029527,9.65,9.0,0.65,paid
201556,8.971621e+11,93603e6b,2019-03-13 14:57:08,2019-03-13 19:02:27,2019-03-13 19:02:27,2019-03-13 14:57:08.000000,fulfilled,1029489,9.65,9.0,0.65,paid
201557,8.971997e+11,554e6eb5,2019-03-13 15:36:57,2019-03-13 20:01:49,2019-03-13 20:01:49,2019-03-13 15:36:57.000000,fulfilled,1029543,17.36,16.0,1.36,paid
201558,8.967336e+11,4ffd2736,2019-03-13 04:28:00,2019-03-13 20:01:26,2019-03-13 20:01:26,2019-03-13 04:28:00.000000,fulfilled,1025935,30.81,29.0,1.81,paid
201559,8.972285e+11,8cb45607,2019-03-13 16:06:08,2019-03-13 21:02:04,2019-03-13 21:02:04,2019-03-13 16:06:08.000000,fulfilled,1029573,9.00,9.0,0.00,paid
201560,8.974822e+11,25c533a4,2019-03-13 18:05:10,2019-03-13 22:01:47,2019-03-13 22:01:47,2019-03-13 18:05:10.000000,fulfilled,1029691,9.80,9.0,0.80,paid
201561,8.975466e+11,d2b5ccea,2019-03-13 18:55:41,2019-03-13 22:01:13,2019-03-13 22:01:13,2019-03-13 18:55:41.000000,fulfilled,1029739,18.19,17.0,1.19,paid
201562,8.974976e+11,e05f3f0a,2019-03-13 18:15:46,2019-03-13 22:01:38,2019-03-13 22:01:38,2019-03-13 18:15:46.000000,fulfilled,1029704,9.61,9.0,0.61,paid
201563,8.964621e+11,a7197fa8,2019-03-12 22:29:10,2019-03-13 21:25:29,2019-03-13 20:01:12,2019-03-12 22:29:10.000000,fulfilled,1025607,20.52,19.0,1.52,paid
201564,8.975113e+11,75cbbce4,2019-03-13 18:26:39,2019-03-13 22:01:33,2019-03-13 22:01:33,2019-03-13 18:26:39.000000,fulfilled,1029711,9.54,9.0,0.54,paid
201565,8.972478e+11,054e1aa2,2019-03-13 16:24:40,2019-03-13 21:01:47,2019-03-13 21:01:47,2019-03-13 16:24:40.000000,fulfilled,1029596,9.80,9.0,0.80,paid
201566,8.972243e+11,dc8262df,2019-03-13 16:02:23,2019-03-13 21:02:09,2019-03-13 21:02:09,2019-03-13 16:02:23.000000,fulfilled,1029566,9.65,9.0,0.65,paid
201567,8.972793e+11,719b0b11,2019-03-13 16:56:36,2019-03-13 21:01:12,2019-03-13 21:01:12,2019-03-13 16:56:36.000000,fulfilled,1029641,9.47,9.0,0.47,paid
201568,8.974215e+11,4f392f45,2019-03-13 17:29:54,2019-03-13 21:02:26,2019-03-13 21:02:26,2019-03-13 17:29:54.000000,fulfilled,1029665,9.45,9.0,0.45,paid
201569,8.975502e+11,cc1e8414,2019-03-13 18:58:59,2019-03-13 22:01:11,2019-03-13 22:01:11,2019-03-13 18:58:59.000000,fulfilled,1029742,9.54,9.0,0.54,paid